* {
    box-sizing: "border-box";
    margin: 0;
    padding: 0;
    text-align: center;
  }

  canvas {
    margin-top: 30px;
  }


  .controls-container {
    display: flex;
    align-items: center;
    /* text-align: center; */
  }

  button {
    padding: 20px 40px;
    background-color: violet;
    color: black;
    font-size: 30px;
    margin-top: 20px;
  }



  /* ~ Mueva el boton en la dirección correspondiente cada vez que se presiona la tecla.
~ Define un desplazamiento.
Mover un boton que se pueda mover a lo largo de toda la pantalla */